// Theming variables

$bg: #DFE0D9;
$primary: #293894;
$black: #1B1B1B;
$grey: #CFD1C7;
$dark-grey: #6B6B65;
$white: #fff;
$border-radius: 6px;
$matchmaking-found: $black;
$matchmaking-searching: $primary;


hr {
    background: $grey;
    height: 2px;
    margin: 10px 0px;
}