&.bold {
    font-family: AkzidenzGroteskBQ Bold;
}

&.medium {
    font-family: AkzidenzGroteskBQ Medium;

}

&.light {
    font-family: AkzidenzGroteskBQ Light;

}

&.regular {
    font-family: AkzidenzGroteskBQ;

}