&.header {
    font-size: 48px;
    line-height: 44px;
    letter-spacing: -3px;
}

&.subtitle {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2px;
}

.subtitle-small {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.75px;
}

&.normal {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.5px;
}

&.label {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.5px;
    text-align: right;
}

&.small {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
}